@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 5px;
  background: #999;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(17 38 61 / 0.2);

  border-radius: 1rem;
}
